@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding-top: 134px;
}
/* header */
header {
  padding: 53px 320px 46px 320px;
  max-width: inherit;
  width: inherit;
  background: #262626;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.head_home {
  color: #dcb47a;
}

.head_list {
  color: #ffffff;
}

ul {
  display: flex;
  gap: 68px;
}

nav {
  display: flex;
  align-items: center;
}

.head_div {
  margin-left: 706px;
}
